:root {
  /* Colors */
  --secondary: #a9c6fb;
  --primary: #96f2d7;
  --primary-shade: #12b886;
  --primary-tint: #099268;

  --dark: #495057;

  /* Gradient */
  --linear-gradient: linear-gradient(135deg, #8ef9d2, #4263eb);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
}

p {
  font-size: 1.4rem;
}

.container {
  max-width: 45rem;
  width: 90%;
  margin: 30px auto 0;
  background-image: var(--linear-gradient);
  padding: 4rem 5rem;
  border-radius: 20px;
  text-align: center;
  color: #fff;
}

.search-form {
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  border-radius: 100px;
}

.search-form input {
  flex: 1;
  height: 5rem;
  background-color: var(--secondary);
  color: var(--dark);
  border: 0;
  outline: 0;
  margin-right: 8px;
  border-radius: 100px;
  font-size: 1.6rem;
  padding: 2rem 2rem;
}

.search-form button {
  background: var(--secondary);
  border: 0;
  outline: 0;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form button i {
  font-size: 2rem;
  color: var(--dark);
}

/* Weather Details */
.weather {
  display: none;
  max-height: 4rem;

  transition: all 0.6s;
}
.weather-icon {
  width: 10rem;
  margin-top: 3rem;
}

.weather h1 {
  font-size: 8rem;
  font-weight: 700;
}

.weather h3 {
  font-size: 4rem;
  font-weight: 500;
  margin-top: -2px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}

.details .col {
  display: flex;
  align-items: center;
  text-align: left;
}

.details .col i {
  font-size: 3rem;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 2rem;
  font-weight: 600;
  margin-top: -10px;
}

/* Error */
.error-msg p {
  display: none;
}

.error-msg p {
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  width: 50%;
  background-color: #fa4646;
  padding: 1.2rem 2.4rem;
  margin-top: 4rem;
}

@media (max-width: 32em) {
  .container {
    padding: 2rem 3rem;
  }

  .error-msg p {
    padding: 1.2rem 1.4rem;
    width: 70%;
  }
}
