* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

ul {
  list-style: none;
}

body {
  line-height: 1.7;
  padding-top: 1rem;
}

main {
  width: 95%;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;

  border-bottom: 1px solid #222;
}

nav ul li {
  padding: 0.5rem 2rem;

  cursor: pointer;

  transition: all 0.5s ease;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

nav li.active {
  background-color: rgba(170, 170, 173, 0.249);
}

nav ul li.active a {
  color: #111;
}

.hidden {
  display: none;
}
