* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 20px;
}
.small-img-box {
  display: flex;
  flex-direction: column;
}
.small-img-box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.6;
}
.small-img-box img:hover {
  opacity: 1;
}
.big-img-box img {
  padding: 20px;
  width: 500px;
  height: 500px;
  object-fit: cover;
  transition: all 0.5s;
}
