* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 40px;
  font-family: sans-serif;
}
#racing {
  display: flex;
  align-items: center;
  gap: 30px;
}
#racing div {
  text-align: center;
  border: 1px solid #222;
  padding: 20px;
}
#racing div p {
  background-color: rgb(58, 58, 210);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
#racing div img {
  width: 200px;
}
