* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #15aabf;
  color: #fff;
}

h1 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#time {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 30px;
}

button {
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #0b7285;
  color: #fff;
  margin-left: 20px;

  transition: all 0.4s;
}

button:hover {
  transform: scale(1.04);
  background-color: #99e9f2;
  color: #0b7285;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.987);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
