* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}
.container {
  max-width: 80%;
  width: 500px;
  margin: 80px auto;
  background-color: #fff;

  border-radius: 10px;
}
form {
  padding: 20px;
  position: relative;
}
.fa-paper-plane {
  background-color: #fff;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
}
label {
  font-size: 14px;
  flex-basis: 25%;
  padding: 10px 0;
  cursor: pointer;
}
input,
textarea {
  border: 0;
  outline: none;
  border-bottom: 1px solid #919191e4;
  flex-basis: 100%;
  padding: 10px;
  width: 100%;
}
.input-group {
  margin: 30px 0;
  display: flex;
  position: relative;
}
.input-group span {
  position: absolute;
  bottom: 10px;
  right: 12px;
  font-size: 14px;
  color: #f84949;
}
::placeholder {
  font-size: 14px;
  color: #aaa;
}
.msg-btn {
  padding: 10px 18px;
  margin: 20px 25%;
  background-color: #7619de;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: none;
  border-radius: 5px;
}

.submit-error {
  margin: 0 25%;
  color: #f84949;
  display: inline-block;
}
.fa-circle-check {
  color: #02a802;
}
