* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    rgb(196, 52, 76),
    rgb(96, 2, 58)
  );

  position: relative;
}
.container {
  margin: 0 auto;
  width: 100rem;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  background-color: #ffa2b9;
  overflow: hidden;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  position: relative;
}
.btn__layout {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  left: 50%;
  transform: translate(-50%);
}
.player__name {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}
.score {
  font-size: 9rem;
  margin-bottom: 7rem;
  text-align: center;
  color: rgb(237, 30, 113);
}
.player__stat {
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;

  padding: 3rem;
}
.current__score__div {
  background-color: rgb(237, 30, 113);
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  color: #fff;
  font-size: 2rem;
  border-radius: 1.2rem;
}
.curr__score {
  font-size: 4rem;
}
.player__stat.active__player {
  background-color: rgb(236, 176, 219);
  height: 100%;
  width: 100%;
}

.btn {
  padding: 1rem;
  border-radius: 10rem;
  border: none;
  outline: none;
  background-color: rgba(245, 241, 242, 0.856);
  text-transform: uppercase;
  cursor: pointer;
  margin: 1rem auto;
  width: fit-content;
  box-shadow: 0 0 24px rgba(173, 172, 172, 0.553);
}
.btn__layout div {
  justify-content: flex-end;
  margin-bottom: 3rem;
}
.bottom-btn {
  display: flex;
  flex-direction: column;
}
.dice-img {
  width: 10rem;
  height: 10rem;
}
.dice-img img {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s;
  animation: rotateDice 2ms linear;
  box-shadow: 0 0 24px rgba(42, 40, 40, 0.324);
  border-radius: 12px;
}
@keyframes rotateDice {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hidden {
  display: none;
}
.player__stat.win {
  color: brown !important;
  background-color: #b5f753f0;
}

/* MODAL */
#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeIn 1s linear;
}
#modal p {
  font-size: 10rem;
  color: #fff;
  z-index: 2;
  font-weight: 800;
}
#modal .overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #11111164;
  backdrop-filter: blur(10px);
  z-index: 1;
}
#modal.hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .container {
    flex-direction: column;
    overflow: visible;
  }

  .player__stat.active__player {
    background-color: #faf3f5e8;
  }

  .btn {
    margin: 0;
    font-size: 2rem;
  }

  .btn--new {
    position: absolute;
    top: -10%;
    left: 2%;
  }

  .dice-img {
    position: absolute;
    top: -12%;
    right: 2%;
  }

  .btn--roll {
    position: absolute;
    bottom: -10%;
    left: 2%;
  }

  .btn--hold {
    position: absolute;
    bottom: -10%;
    right: 2%;
  }

  .btn__layout {
    padding: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .dice-img {
    width: 70px;
    height: 70px;
  }

  .bottom-btn button {
    margin: 10px 0;
  }

  .score {
    margin-bottom: 4rem;
  }

  .current__score__div {
    width: 70%;
  }
}
